{% extends 'StudentApp/base.html' %}
{% load static %}





<!-- CSS block  -->

{% block css %}

{% endblock css %}

<!-- js block  -->

{% block js %}

{% endblock js %}

<!-- title block  -->
{% block title %}
<title>Home Page</title>
{% endblock title %}

<!-- body block  -->
{% block body %}

<div class="my-5"  >
    
<div class="container text-center mt-5" >
    <h1 class="mb-3" style="text-decoration: underline;">Student Management System</h1>
    <img src="{% static 'StudentApp/images/student3.png/' %}" alt="No image" width="1000px" height="600px">
   
    
</div>
<div class="container border-top border-dark mt-3">

<div class="container mt-5" >

<div class="row" >

<div class="col-4 border-end">
    <h3 class="mb-4">About us</h3>
    <p>A Student Management System is also known as a Student Information System (SIS). These systems work to coordinate scheduling and communications between faculty regarding students. This system exists to simplify information tracking for both parents and administrative staff.</p>

    <a href="{% url 'aboutus' %}" style="text-decoration: none;">Learn More <i class="bi bi-arrow-right"></i></a>
</div>

<div class="col-4 text-center border-end" >

    <h3 class="mb-4">Menu</h3>
    <p><a href="{% url 'home' %}" style="text-decoration: none; color: black;">Home</a></p>
    <p><a href="{% url 'registration' %}" style="text-decoration: none; color: black;">Student Registration</a></p>
    <p><a href="{% url 'staffregistration' %}" style="text-decoration: none; color: black;">Staff Registration</a></p>
    <p><a href="{% url 'adminlogin' %}" style="text-decoration: none; color: black;">Admin Login</a> </p>
    <p><a href="{% url 'feedback' %}" style="text-decoration: none; color: black;">Feedback</a> </p>
    <p><a href="{% url 'contactus' %}" style="text-decoration: none; color: black;">Contact us</a> </p>
    <p><a href="{% url 'aboutus' %}" style="text-decoration: none; color: black;">About Us</a> </p>


</div>

<div class="col-4 text-center" 

    <h3 class="mb-4">Contact Us</h3>
    Phone Number: 
    <h6>9158176742</h6>
    Email ID:
    <h6>jagrutibhande242001@gmail.com</h6>


</div>



</div>
</div>
</div>

<div class="container border-top border-dark" >
    <h1 class="mt-3">Feedback</h1>
    <h6>“That’s a fantastic start, but you could go even well.” “You’re in the proper direction, but you aren’t there yet."</h6>
    <a href="{% url 'feedback' %}" style="text-decoration: none;">Learn more --> </a>
    
</div>


<div class="container my-3 border-top border-dark" >

</div>
</div>  

{% endblock body %}