{% extends 'StudentApp/staffBase.html' %}
{% load static %}





<!-- CSS block  -->

{% block css %}
{% endblock css %}

<!-- js block  -->

{% block js %}
{% endblock js %}

<!-- title block  -->
{% block title %}
<title>staff login Page</title>
{% endblock title %}

<!-- body block  -->
{% block body %}

<div class=" mt-5 text-center">
    <div class="container w-50 p-3 " style="background-color:darkgray; border: 1px solid black;">
        <h1>Staff Login</h1>
    </div>
    <div class="container w-50 shadow rounded mt-5 p-5 " style="border: 2px solid black;">
        <div class="container w-50 text-center" >
            <form action="{% url 'staffhome' %}" method="post">
                {% csrf_token %}
                <!-- widgt comes from backend  -->
                <div class="my-3">
                    <label for="username">Enter Staff username</label>
                    <input type="username" name="username" id="username" class="form-control" value="{{form.username}}">
                </div>

                <div class="my-3">
                    <label for="password">Enter Staff Password</label>
                    
                    <input type="password" name="password" id="password" class="form-control" value="{{form.password}}">
                </div>


                <div class="mb-3 text-center">
                    <input type="submit" value="login" class="btn btn-outline-primary btn-lg">
                </div>
            </form>
        </div>
        
        </div>
</div>


{% endblock body %}