{% extends 'StudentApp/StudentBase.html' %}
{% load static %}





<!-- CSS block  -->

{% block css %}
{% endblock css %}

<!-- js block  -->

{% block js %}

{% endblock js %}

<!-- title block  -->
{% block title %}
<title>Student Feedback Page</title>
{% endblock title %}

<!-- body block  -->
{% block body %}

<div class="container mt-5 py-4" style="background-color: bisque;">

    <div class="container p-3  text-center rounded" style="background-color:beige; border: 2px dashed black;">
        <h1 class="display-6">Student Feedback Page</h1>
    </div>

    

    <!-- add blog form  -->
    <div class="container p-5 mt-5 w-75 shadow" style="background-color: cadetblue;">
        {% for d in data %}
    <div class="container p-3 my-3 shadow rounded " style="background-color:white;">
        
        <h1>{{d.f_name}} {{d.l_name}}</h1>
        <span>See your feedback here --> </span> <a href="{% url 'feedback'  %}"> {{d.email}}</a>

        <form action="{% url 'studentfeedback' %}" method = 'post'>
            {% csrf_token %}

            <div class="my-3">
                <label for="name">Enter Your name</label>
                <input name="name" id="name"  class="form-control"></input>
            </div>

            <div class="my-3">
                <label for="feedback">Enter Your Feedback</label>
                <textarea name="feedback" id="feedback" cols="30" rows="10" class="form-control"></textarea>
            </div>
            


            <div class="my-3">
                <input type="submit" value="Submit Feedback" class="btn btn-success">
                
            </div>
        </form>
        
        

        
    </div>
    
    {% endfor %}

        <!-- form  -->

        


    </div>

    <div class="container mt-4 text-center">
        <img src="{% static 'StudentApp/images/feedback3.png/' %}" alt="No image" height="400px" width="1000px" style="border: 2px solid black;">
    </div>

</div>



{% endblock body %}