{% extends 'StudentApp/StudentBase.html' %}
{% load static %}





<!-- CSS block  -->

{% block css %}
{% endblock css %}

<!-- js block  -->

{% block js %}

{% endblock js %}

<!-- title block  -->
{% block title %}
<title>Student Profile Page</title>
{% endblock title %}

<!-- body block  -->
{% block body %}


<div class="container mt-5 py-4" style="background-color: bisque;">

    
    
    <div class="container p-3  text-center rounded" style="background-color:beige; border: 2px dashed black;">
        <h1 class="display-6">Student Profile Page</h1>
    </div>

</div>
<div class="container text-center p-3 mt-5" style="border: 1px dashed black; background-color: beige;">
    <p>First Name: {{data.f_name}}</p>
    <p>Last Name: {{data.l_name}}</p>
    <p>Email ID: {{data.email}}</p>
    <p>Contact No: {{data.contact}}</p>
    <p>DOB: {{data.dob}}</p>
    <p>Address: {{data.address}}</p>
    <p>Gender: {{data.gender}}</p>
    <p>Course: {{data.course}}</p>
    <p>Department: {{data.department}}</p>
    <p>City: {{data.city}}</p>
    <p>State: {{data.state}}</p>
    <p>Pincode: {{data.pincode}}</p>
    <p>Hobbies: {{data.hobbies}}</p>
    <p>Blood Group: {{data.blood_group}}</p>
    <p>Known language: {{data.known_language}}</p>
    <p>Education: {{data.education}}</p>
    <p>Why You Want to become a student of our college: {{data.why_you_want}}</p>
    
</div>
{% endblock body %}