{% extends 'StudentApp/StudentBase.html' %}
{% load static %}





<!-- CSS block  -->

{% block css %}
{% endblock css %}

<!-- js block  -->

{% block js %}

{% endblock js %}

<!-- title block  -->
{% block title %}
<title>Student Home Page</title>
{% endblock title %}

<!-- body block  -->
{% block body %}


<div class="container mt-5 py-4" style="background-color: bisque;">

    
    
    <div class="container p-3  text-center rounded" style="background-color:beige; border: 2px dashed black;">
        <h1 class="display-6">Student Home Page</h1>
    </div>
    
    <p class="container border border-dark mt-5" style="background-color: aquamarine;"><b>Note: </b> This is page of student information. All the students are given information on this. If you want to see your information, you can see your information by clicking on the email on your information.</p>

    {% for d in data %}
    <div class="container p-3 my-3 shadow rounded mt-5" style="background-color:white;">
        
        <h1>{{d.f_name}} {{d.l_name}}</h1>
        <a href="{% url 'studentprofile' d.id %}">{{d.email}}</a>
        

        
        
    </div>
    
    {% endfor %}

    

</div>

{% endblock body %}